<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Account Aggregator</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Operations</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Credit Fintech.</h1>
    <p class="lead">La solution qui vous permet d'integrer l'ensemble de vos moyens de paiement et d'avoir le service qui vous convient grâce au partage des données venant de vos autres plateforme financière.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Aggregate your Account</a>
    </p>


              
              
              
              
              
                            
<button  type="button" (click)="logout()">Log out</button>
<button  type="button" (click)="loginPiggyBank()">Log in piggybank</button>
<button  type="button" (click)="loginMobileBank()">Log in mobilebank</button>
<button  type="button" (click)="loginMicroFinance()">Log in MicroFinance</button>
<button  type="button" (click)="loginAssurance()">Log in Assurance</button>





  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Design with <a href="https://getbootstrap.com/">Love</a>, by <a href="https://twitter.com/mdo"></a>LITA STUDENT</p>
    </div>
  </footer>
</div>